<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Welcome</title>
</head>

<body id="home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-list" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-2 active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./html/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id='main-content'>
        <div id="overlay"></div>
    </section>

    <section id="article-content">
        <div class="container">

            <div class="row">
                <!-- <div class="col-lg-2"></div> -->
                <div class="col-lg-8 py-5 px-5" id="middle-pane">
                    <h1>Lorem Ipsum?</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem a nisi vitae qui magni doloribus
                        quod, tempore fugiat. Dolores delectus molestias tempora inventore temporibus sunt! Vero nisi
                        distinctio sequi esse.
                        Sequi illo libero quidem incidunt illum facilis provident omnis? Deleniti dignissimos nobis
                        reiciendis laboriosam sapiente ex eius hic cumque optio odit ad iure fugit quam, doloribus
                        aliquid exercitationem vitae quibusdam.
                        Enim voluptate velit omnis, nostrum fugiat necessitatibus recusandae doloribus suscipit
                        reiciendis impedit corporis incidunt magnam atque accusantium pariatur est. Veniam, labore fugit
                        voluptas est eaque enim minus tempora soluta aut!
                        Ad, odit mollitia! Laboriosam quae sit nesciunt modi, accusamus itaque non asperiores odit
                        dolores distinctio molestias blanditiis quod neque odio, sapiente eligendi corporis suscipit
                        amet? Vel asperiores nostrum illo autem.
                        Tenetur quidem rerum officia tempora? Sint esse ex cupiditate tempore. Illum modi repudiandae
                        ipsum eligendi alias quod praesentium magnam architecto soluta. Odio deserunt quo commodi fuga,
                        voluptas accusantium ea earum.
                        Eum velit dicta ducimus expedita cumque a asperiores quos blanditiis voluptatibus et fugiat
                        nobis, odit perspiciatis facere! Autem pariatur at eius consequuntur totam numquam dolor
                        distinctio sed et! Ipsam, porro.
                        Aperiam, eaque modi! Fugiat et non, quos eius voluptatibus magni, nisi hic eos tenetur quidem
                        modi labore doloribus pariatur corrupti est repellat. Voluptas aut et illo dicta nobis aliquid
                        quaerat.
                        Rerum vitae quibusdam doloribus, accusamus at neque quisquam. Harum ipsa natus at illum, beatae
                        accusantium explicabo, eveniet molestiae laborum id nihil error sequi nobis debitis sapiente
                        mollitia? Explicabo, veritatis velit?
                        Suscipit quod laborum laudantium repellat ex mollitia ad ullam adipisci excepturi, reprehenderit
                        amet soluta omnis deserunt voluptas. A ipsum error cumque rerum nostrum blanditiis eum maiores
                        veniam dolorum. Dolor, architecto.
                        Nemo, aut dolor. Unde ex itaque exercitationem alias cupiditate tenetur pariatur? Culpa
                        molestiae sapiente similique distinctio ipsam? Facilis illum ea dicta nesciunt magni maiores
                        eius ab, voluptatem dolore? Ipsa, fugit?</p>
                </div>
                <div class="col-lg-1"></div>
                <div class="card col-lg-3 mt-5 border-0 shadow" id="author-content">
                    <div class="card-body">
                        <h5 class="card-title">Author</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Joe McKargy</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quas
                            fugiat nisi. Ipsa, non!</p>
                        <a href="#" class="card-link">Date</a>
                        <a href="#" class="card-link">dribble</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="main-footer" class="py-5 bg-dark text-white ">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 ml-auto">
                    <p class="lead">
                        Copyright &copy; <span id="year"></span> Rahulxyz, All rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $("#year").text(new Date().getFullYear());
    </script>
</body>

</html>